<head>
    <meta charset="UTF-8" />
    <meta content="viewport" width="width=device-with, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/e35a6b4d49.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Inventory App</title>
</head>
