<header>
    <div class="header-wrapper">
        <div class="header_logo_wrapper">
            <div class="logo-bg">
                <i class="fa-solid fa-box-archive fa-lg" style="color: #fff" size="xl"></i>
            </div>
            <h1>Shop Inventory</h1>
        </div>
        <nav>
            <ul class="pages-list">
                <li><a href="/">Home</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>
    </div>
</header>
